<script src="./js/bootstrap.min.js"></script>
<link rel="stylesheet" href="./css/bootstrap.min.css" >
<div style="border-top: 2px solid blue; text-align: center;">
    &copy;Parcial NodeJS Express 11/03/2025
</div>

